<meta name="title" content="Changelog - DecoJS">

<div class="main-content">
  <article class="container">
    <div class="page-header">
      <h1>Changelog</h1>
    </div>
    <%- contents %>
  </article>
</div>